@model Toymania.Models.Coupon

@{
    ViewBag.Title = "GenerateCoupons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
        <div class="container container-body2">
            <p>Coupon code: @Model.Code</p>
            <p>Coupon Value: @Model.Value.ToString()</p>
            </div>
    </body>
