@{
    ViewBag.Title = "Help";
}

<body>
    <div class="container container-body2">
        <h3>Help:</h3>
        <p>
            If you are looking for help on the webshop, you can always contact us. To find our contact information, please refer to the contact page.
            Some Frequently asked questions:
        </p>
        <p>
            Q: Do the prices shown include taxes?
        </p>
        <p>
            A: Yes.
        </p>

        <p>
            Q: Are shipping costs included in the prices shown?
        </p>
        <p>
            A: No, and they may differ depending on your location.
        </p>

        <p>
            Q: There was an error in my order, what can I do?
        </p>
        <p>
            A: Please contact us using the information on the contact page.
        </p>

        <p>
            Q: I found the same product for cheaper somewhere else, what can I do?
        </p>
        <p>
            A: If you find a product cheaper somewhere else, please contact us and we can work out a solution with you.
        </p>

        <p>
            <strong>
                If you have any questions that were not answered here, please feel free to contact us at: <a>support@example.com</a>.
            </strong>
        </p>
    </div>
</body>
