@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        //google.charts.setOnLoadCallback(drawChart);
        google.load("visualization", "1", { packages: ["corechart"] });

        //https://developers.google.com/chart/interactive/docs/basic_load_libs
    </script>
</head>
<body>
        <div class="container container-body2">
            <br />
            <div class="container" style="width:auto">
                <div class="row">
                    <div class="col-xs-6 ODT" style="width:100%">
                        <ul class="nav nav-tabs">
                            <li @*class="active"*@>
                                <a href="#Linechart" data-toggle="tab">Linechart - Week</a>
                            </li>
                            <li>
                                <a href="#Piechart" data-toggle="tab">Piechart - Week</a>
                            </li>
                            <li>
                                <a href="#Diagram" data-toggle="tab">Diagram - Week</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="Linechart" class="tab-pane">
                                <ul>
                                    <li><button type="button" id="BLT">Categories-Total sales</button> </li>
                                    <li><button type="button" id="BLR">Categories-Revenue</button> </li>
                                    <li><button type="button" id="BLP">Categories-Profit</button> </li>
                                    @*<li><button type="button" id="BLTW">Categories-Sales</button> </button> </li>
                                        <li><button type="button" id="BLRW">Categories-Revenue</button> </li>
                                        <li><button type="button" id="BLPW">Categories-Profit</button> </li>*@
                                </ul>
                            </div>

                            <div id="Piechart" class="tab-pane">
                                <button type="button" id="BPT">Categories-Total sales</button>
                                <button type="button" id="BPR">Categories-Revenue</button>
                                <button type="button" id="BPP">Categories-Profit</button>
                            </div>
                            <div id="Diagram" class="tab-pane">
                                <ul>
                                    <li><button type="button" id="BDT">Categories-Total sales</button> </li>
                                    <li><button type="button" id="BDR">Categories-Revenue</button> </li>
                                    <li><button type="button" id="BDP">Categories-Profit</button> </li>
                                </ul>
                            </div>

                            <div class="chart" id="chart" style="width:100%; height:500px">
                            </div>

                            <button type="button" id="C">Categories</button>
                            <button type="button" id="SC">Subcategories</button>
                        </div>
                    </div>
                </div>
                @*<select id="LCYSelector" onchange="">
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>*@

            </div>
            @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
                </script>
                <script src="bootstrap/js/bootstrap.min.js"></script>*@
            <script type="text/javascript">

                var chartDataYear;
                var chartDataMonth;
                var chartDataWeeks;
                var baseUrl = '/Stats/'
                var TimeUrl = 'Y'
                var FiltUrl = 'C'
                var ResUrl = 'S'
                var TUrl = baseUrl + TimeUrl + FiltUrl + ResUrl
                var YearUrl = 'Stats/YCS'
                var MY;
                var GlobalYear;
                var CurrentReport;
                var filter = "W";
                var Category = "C";

                //var chartdataweek;
                //google.load("visualization", "1", { packages: ["corechart"] });


                $(document).ready(function () {

                    $("#LCYB").click(function () {
                        var year = $("#LCYSelector").val();
                        $("#tp1").replaceWith(year);
                        console.log(year);
                    });
                    $("#BLT").on("click", LYT);
                    $("#BLP").on("click", LYP);
                    $("#BLR").on("click", LYR);

                    $("#BDT").on("click", DYT);
                    $("#BDP").on("click", DYP);
                    $("#BDR").on("click", DYR);

                    $("#BPT").on("click", PYT);
                    $("#BPP").on("click", PYP);
                    $("#BPR").on("click", PYR);

                    //$("#BLTM").on("click", LYTM);
                    //$("#BLPM").on("click", LYPM);
                    //$("#BLRM").on("click", LYRM);

                    $("#BLTMP").on("click", PCYT);
                    $("#C").on("click", test1);
                    $("#SC").on("click", test2);

                });

                function test1() {
                    ResUrl = 'P'
                }

                function test2() {
                    ResUrl = 'R'
                }

                function PCYT() {
                    $.ajax({
                        url: 'Stats/DYCVerkocht', //Stats/SalesDataYearWise     //'Stats/DYCVerkocht'
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawPC(chartDataYear, "chart year", LTW);
                    });
                }


                /*-------------------------------------------------------------------------------------------------------------------------------------*/
                /*--------------Total------------------*/
                function DYT() {
                    $.ajax({
                        url: TUrl, //'Stats/DYCVerkocht', //Stats/SalesDataYearWise     //'Stats/DYCVerkocht'
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawD(chartDataYear, "Sales Report Data", DMT);
                    });
                }

                function DMT(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        MY = parseInt(data.getValue(selectedItem.row, 0));
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/MCS', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MDT';
                            GlobalYear = rowLevel;
                            DrawD(chartDataMonth, "chart year" + " " + rl, DWT);
                        });
                    }
                }

                function DWT(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/WCS', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': MY },
                            success: function (d) {
                                chartDataWeeks = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'WDT';
                            //GlobalYear = rowLevel;
                            DrawD(chartDataWeeks, "chart year" + " " + GlobalYear.toString(), null);
                        });
                    }
                }

                /*--------------Profit-----------------*/

                function DYP() {
                    $.ajax({
                        url: '/Stats/YCP', //Stats/SalesDataYearWise
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawD(chartDataYear, "Sales Report Data", DMP);
                    });
                }

                function DMP(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/MCP', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MDP';
                            GlobalYear = rowLevel;
                            DrawD(chartDataMonth, "chart year" + " " + rl, DWP);
                        });
                    }
                }

                function DWP(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/WCP', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': GlobalYear },
                            success: function (d) {
                                chartDataWeeks = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'WDP';
                            //GlobalYear = rowLevel;
                            DrawD(chartDataWeeks, "chart year" + " " + GlobalYear.toString(), null);
                        });
                    }
                }

                /*--------------Revenue----------------*/
                function DYR() {
                    $.ajax({
                        url: '/Stats/YCR', //Stats/SalesDataYearWise
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawD(chartDataYear, "Sales Report Data", DMR);
                    });
                }

                function DMR(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/MCR', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MDR';
                            GlobalYear = rowLevel;
                            DrawD(chartDataMonth, "chart year" + " " + rl, DWR);
                        });
                    }
                }

                function DWR(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/WCR', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': GlobalYear },
                            success: function (d) {
                                chartDataWeeks = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'WDR';
                            //GlobalYear = rowLevel;
                            DrawD(chartDataWeeks, "chart year" + " " + GlobalYear.toString(), null);
                        });
                    }
                }





                /*-------------------------------------------------------------------------------------------------------------------------------------*/
                /*--------------Total------------------*/
                function LYT() {
                    $.ajax({
                        url: TUrl,// 'Stats/YCS', //Stats/SalesDataYearWise     //'Stats/DYCVerkocht'
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        generateChart(chartDataYear, "Sales Report Data", LMT);
                    });
                }

                function LMT(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        MY = parseInt(data.getValue(selectedItem.row, 0));
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/MCS', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MLT';
                            GlobalYear = rowLevel;
                            generateChart(chartDataMonth, "chart year" + " " + rl, LWT);
                        });
                    }
                }

                function LWT(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/WCS', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': MY },
                            success: function (d) {
                                chartDataWeeks = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'WLT';
                            //GlobalYear = rowLevel;
                            generateChart(chartDataWeeks, "chart year" + " " + GlobalYear.toString(), null);
                        });
                    }
                }

                /*--------------Profit-----------------*/

                function LYP() {
                    $.ajax({
                        url: /*TUrl//*/'/Stats/YCP', //Stats/SalesDataYearWise
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        generateChart(chartDataYear, "Sales Report Data", LMP);
                    });
                }

                function LMP(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/MCP', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MLP';
                            GlobalYear = rowLevel;
                            generateChart(chartDataMonth, "chart year" + " " + rl, LWP);
                        });
                    }
                }

                function LWP(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/WCP', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': GlobalYear },
                            success: function (d) {
                                chartDataWeeks = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'WLP';
                            //GlobalYear = rowLevel;
                            generateChart(chartDataWeeks, "chart year" + " " + GlobalYear.toString(), null);
                        });
                    }
                }

                /*--------------Revenue----------------*/
                function LYR() {
                    $.ajax({
                        url: /*TUrl//*/'/Stats/YCR', //Stats/SalesDataYearWise
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        generateChart(chartDataYear, "Sales Report Data", LMR);
                    });
                }

                function LMR(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/MCR', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MLR';
                            GlobalYear = rowLevel;
                            generateChart(chartDataMonth, "chart year" + " " + rl, LWR);
                        });
                    }
                }

                function LWR(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/WCR', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': GlobalYear },
                            success: function (d) {
                                chartDataWeeks = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'WLR';
                            //GlobalYear = rowLevel;
                            generateChart(chartDataWeeks, "chart year" + " " + GlobalYear.toString(), null);
                        });
                    }
                }





                /*-------------------------------------------------------------------------------------------------------------------------------------*/
                /*--------------Total------------------*/
                function PYT() {
                    $.ajax({
                        url: 'Stats/PYCS', //Stats/SalesDataYearWise     //'Stats/DYCVerkocht'
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawPC(chartDataYear, "Sales Report Data", PMT);
                    });
                }

                function PMT(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        MY = parseInt(data.getValue(selectedItem.row, 0));
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/PMCS', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MLT';
                            GlobalYear = rowLevel;
                            DrawPC(chartDataMonth, "chart year" + " " + rl, null);
                        });
                    }
                }



                /*--------------Profit-----------------*/

                function PYP() {
                    $.ajax({
                        url: '/Stats/PYCP', //Stats/SalesDataYearWise
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawPC(chartDataYear, "Sales Report Data", PMP);
                    });
                }

                function PMP(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/PMCP', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MLP';
                            GlobalYear = rowLevel;
                            DrawPC(chartDataMonth, "chart year" + " " + rl, null);
                        });
                    }
                }

                /*--------------Revenue----------------*/
                function PYR() {
                    $.ajax({
                        url: '/Stats/PYCR', //Stats/SalesDataYearWise
                        type: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            chartDataYear = d;
                        },
                        error: function () {
                            alert("Error");
                        }
                    }).done(function () {
                        CurrentReport = 'year';
                        //GlobalYear = rowLevel;
                        DrawPC(chartDataYear, "Sales Report Data", PMR);
                    });
                }

                function PMR(chart, data) {
                    var selectedItem = chart.getSelection()[0];
                    if (selectedItem) {
                        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                        var rl = rowLevel.toString();
                        //var year = new Date(rowLevel, 2)
                        var chartData = null;
                        $.ajax({
                            url: '/Stats/PMCR', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                            type: 'get',
                            dataType: 'json',
                            data: { 'y': rowLevel },
                            success: function (d) {
                                chartDataMonth = d;
                            },
                            error: function () {
                                alert("Error")
                            }
                        }).done(function () {
                            CurrentReport = 'MLR';
                            GlobalYear = rowLevel;
                            DrawPC(chartDataMonth, "chart year" + " " + rl, null);
                        });
                    }
                }


                /*-------------------------------------------------------------------------------------------------------------------------------------*/

                function generateChart(chartData, title, selectEvent) {
                    var data = google.visualization.arrayToDataTable(chartData);

                    var options = {
                        title: title,
                        pointSize: 5,
                        focusTarget: "category",
                        hAxis: { showTextEvery: 1 }
                    }

                    var lineChart = new google.visualization.LineChart(document.getElementById('chart'));
                    if (selectEvent != null) {
                        google.visualization.events.addListener(lineChart, 'select', function () {
                            selectEvent(lineChart, data);
                        });
                    }
                    GenerateBack(CurrentReport);
                    lineChart.draw(data, options);
                }

                function DrawPC(chartData, title, selectEvent) {
                    var data = google.visualization.arrayToDataTable(chartData);

                    var options = {
                        title: title,
                        pointSize: 5,
                        focusTarget: "category",
                        hAxis: { showTextEvery: 1 }
                    }
                    //ColumnChart
                    var Piechart = new google.visualization.PieChart(document.getElementById('chart'));
                    if (selectEvent != null) {
                        google.visualization.events.addListener(Piechart, 'select', function () {
                            selectEvent(Piechart, data);
                        });
                    }
                    GenerateBack(CurrentReport);
                    Piechart.draw(data, options);
                }

                function DrawD(chartData, title, selectEvent) {
                    var data = google.visualization.arrayToDataTable(chartData);

                    var options = {
                        title: title,
                        pointSize: 5,
                        focusTarget: "category",
                        hAxis: { showTextEvery: 1 }
                    }
                    //ColumnChart
                    var Piechart = new google.visualization.ColumnChart(document.getElementById('chart'));
                    if (selectEvent != null) {
                        google.visualization.events.addListener(Piechart, 'select', function () {
                            selectEvent(Piechart, data);
                        });
                    }
                    GenerateBack(CurrentReport);
                    Piechart.draw(data, options);
                }

                function GenerateBack(currentReport) {
                    $('.backButtonContainer').remove();
                    //Create new Back Button
                    if (currentReport != 'year') { //back button except year
                        var $back = $('<button/>')
                            .text('Back')
                            .addClass('reportBack')
                            .click(function () {
                                switch (currentReport) {
                                    case 'MLT':
                                        CurrentReport = 'year';
                                        generateChart(chartDataYear, "Sales Report Data", LYT);
                                        break;
                                    case 'MLP':
                                        CurrentReport = 'year';
                                        generateChart(chartDataYear, "Sales Report Data", LYP);
                                        break;
                                    case 'MLR':
                                        CurrentReport = 'year';
                                        generateChart(chartDataYear, "Sales Report Data", LYR);
                                        break;
                                    case 'WLT':
                                        CurrentReport = 'year';
                                        generateChart(chartDataYear, "Sales Report Data", LYT);
                                        //generateChart(chartDataMonth, "Sales Report Data of year " + GlobalYear, LMT);
                                        break;
                                    case 'WLP':
                                        CurrentReport = 'year';
                                        generateChart(chartDataYear, "Sales Report Data", LYP);
                                        //generateChart(chartDataMonth, "Sales Report Data of year " + GlobalYear, LMP);
                                        break;
                                    case 'WLR':
                                        CurrentReport = 'year';
                                        generateChart(chartDataYear, "Sales Report Data", LYR);
                                        //generateChart(chartDataMonth, "Sales Report Data of year " + GlobalYear, LMR);
                                        break;




                                    case 'MDT':
                                        CurrentReport = 'year';
                                        DrawD(chartDataYear, "Sales Report Data", DYT);
                                        break;
                                    case 'MDP':
                                        CurrentReport = 'year';
                                        DrawD(chartDataYear, "Sales Report Data", DYP);
                                        break;
                                    case 'MDR':
                                        CurrentReport = 'year';
                                        DrawD(chartDataYear, "Sales Report Data", DYR);
                                        break;
                                    case 'WDT':
                                        CurrentReport = 'year';
                                        DrawD(chartDataYear, "Sales Report Data", DYT);
                                        //generateChart(chartDataMonth, "Sales Report Data of year " + GlobalYear, LMT);
                                        break;
                                    case 'WDP':
                                        CurrentReport = 'year';
                                        DrawD(chartDataYear, "Sales Report Data", DYP);
                                        //generateChart(chartDataMonth, "Sales Report Data of year " + GlobalYear, LMP);
                                        break;
                                    case 'WDR':
                                        CurrentReport = 'year';
                                        DrawD(chartDataYear, "Sales Report Data", DYR);
                                        //generateChart(chartDataMonth, "Sales Report Data of year " + GlobalYear, LMR);
                                        break;







                                    default:

                                }
                                $(this).parent().remove();
                            });
                        var $div = $('<div/>')
                            .addClass('backButtonContainer')
                            .css({ 'width': '70%', 'text-align': 'right', 'padding': '5px' })
                            .append($back);
                        $('#chart').before($div);

                    }
                }

                    //function selectYear(chart, data) {
                    //    var selectedItem = chart.getSelection()[0];
                    //    if (selectedItem) {
                    //        var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                    //        var rl = rowLevel.toString();
                    //        //var year = new Date(rowLevel, 2)
                    //        var chartData = null;
                    //        $.ajax({
                    //            url: '/Stats/DWCVerkocht', //DataWeekWise//SalesDataMonthWise//DWC//DWCVerkocht //'/Stats/DWCVerkocht'
                    //            type: 'get',
                    //            dataType: 'json',
                    //            data: { 'y': rowLevel },
                    //            success: function (d) {
                    //                chartDataMonth = d;
                    //            },
                    //            error: function () {
                    //                alert("Error")
                    //            }
                    //        }).done(function () {
                    //            CurrentReport = 'month';
                    //            GlobalYear = rowLevel;
                    //            generateChart(chartDataMonth, "chart year" + " " + rl, selectMonth);
                    //        });
                    //    }
                    //}

                    //function selectMonth(chart, data) {
                    //    //month event(after select month data from chart)
                    //    var selectedItem = chart.getSelection()[0];
                    //    if (selectedItem) {
                    //        var rowLevel = data.getValue(selectedItem.row, 0);
                    //        $.ajax({
                    //            url: '/Stats/SalesDataDayWise',
                    //            type: 'get',
                    //            dataType: 'json',
                    //            data: { 'y': GlobalYear, 'm': rowLevel },
                    //            succes: function (d) {
                    //                chartDataDays = d
                    //            },
                    //            error: function () {
                    //                alert("error!")
                    //            }
                    //        }).done(function () {
                    //            CurrentReport = "days";
                    //            generateChart(chartDataDays, "Chart" + rowLevel + " " + GlobalYear, null);
                    //        });
                    //    }
                    //}

            </script>
            </div>
    </body>
</html>




















