
@{
    ViewBag.Title = "test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test2</h2>

<script>
    $(document).ready(function () {
        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
        $('ul.tabs li').mouseover(function () {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
    });
</script>

<div class="container">
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Tab One</li>
        <li class="tab-link" data-tab="tab-2">Tab Two</li>
        <li class="tab-link" data-tab="tab-3">Tab Three</li>
        <li class="tab-link" data-tab="tab-4">Tab Four</li>
    </ul>

    <div id="tab-1" class="tab-content current">Some Text 1<br /> </div>
    <div id="tab-2" class="tab-content">Some Text 2<br />very important</div>
    <div id="tab-3" class="tab-content">Some Text 3<br />garbage</div>
    <div id="tab-4" class="tab-content">Some Text 4<br />something in the way...</div>
</div>

<script>
    $(document).ready(function () {
        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });

        $('ul.tabs li').mouseover(function () {
            var tab_id = $(this).attr('data-tab');
            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });
    });
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@section scripts{
    <script>
        var chartDataYear;
        var chartDataMonth;
        var chartDataDays;
        var GlobalYear;
        var CurrentReport;

        //var chartdataweek;
        google.load("visualization", "1", { packages: ["corechart"] });

        //loads year wise reprot on load
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:50777/Stats/SalesDataYearWise',
                type: 'get',
                dataType: 'json',
                data: {},
                success: function (d) {
                    chartDataYear = d;
                },
                error: function () {
                    alert("Error")
                }
            }).done(function () {
                CurrentReport = 'year';
                //GlobalYear = rowLevel;
                generateChart(chartDataYear, "chart year", selectYear);
            });
        });

        function generateChart(chartData, title, selectEvent) {
            var data = google.visualization.arrayToDataTable(chartData);

            var options = {
                title: title,
                pointSize = 5,
                focusTarget: "category",
                hAxis: { showTextEvery: 1 }
            }

            var lineChart = new google.visualization.LineChart(document.getElementById('chart'));
            if (selectEvent != null) {
                google.visualization.events.addListener(lineChart, 'select', function () {
                    selectEvent(lineChart, data);
                });
            }
            GenerateBack(CurrentReport);
            lineChart.draw(data, options);
        }

        function GenerateBack(currentReport) {
            $('.backButtonContainer').remove();
            //create new back button
            if (currentReport != 'year') { //back button except year
                var $back = $('<button/>')
                    .text('Back')
                    .addClass('reportBack')
                    .click(function () {
                        switch (currentReport) {
                            case 'month':
                                currentReport = 'year';
                                generateChart(chartDataYear, "a", selectYear)
                                break;
                            default:
                        }
                        $(this).parent().remove();
                    });
                var $div = $('<div/>')
                    .addClass('backButtonContainer')
                    .css({ 'width': '70%', 'text-align': 'right', 'padding': '5px' })
                    .append($back);
                $('#chart').before($div);
            }
        }

        function selectYear(chart, data) {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
                var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                var chartData = null;
                $.ajax({
                    url: '/Stats/SalesDataMonthWise',
                    type: 'get',
                    dataType: 'json',
                    data: { 'year': rowLevel },
                    success: function (d) {
                        chartDataMonth = d;
                    },
                    error: function () {
                        alert("Error")
                    }
                }).done(function () {
                    CurrentReport = 'month';
                    GlobalYear = rowLevel;
                    generateChart(chartDataMonth, "chart year" + rowLevel, selectMonth);
                });
            }
        }

        function selectMonth(chart, data) {
            //month event(after select month data from chart)
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
                var rowLevel = parseInt(data.getValue(selectedItem.row, 0));
                var chartData = null;
                $.ajax({
                    url: '/Stats/SalesDataDayWise',
                    type: 'get',
                    dataType: 'json',
                    data: { 'year': GlobalYear, 'month': rowLevel },
                    succes: function (d) {
                        chartDataMonth = d
                    },
                    error: function () {
                        alert("error!")
                    }
                }).done(function () {
                    CurrentReport = "days";
                    generateChart(chartDataDays, "Chart" + rowLevel + " " + GlobalYear, null);
                });
            }
        }
                //month event(after select)
    </script>






    @*<h2>Index</h2>*@
    @*<p>
            <img src="@Url.Content()" />
        </p>*@
    @*<p>
            <img src="@Url.Action("Diagram1") alt="SimpleChart" />
        </p>*@

    @*<p>
            <img src="@Url.Action(ViewBag.d) alt="SimpleChart" />
        </p>*@

    @*<p>
            <img src="@Url.Action(ViewData["d"]) alt="SimpleChart" />
        </p>*@

    @*<!DOCTYPE html>
        <html>
        <head>
            <title>Chart Example</title>
        </head>
        <body>
            <h1>Chart Example</h1>
            <p>
                The following chart is generated by the <em>ChartArrayBasic.cshtml</em> file, but is shown
                in this page.
            </p>
            <p><img src="ChartArrayBasic.cshtml" /> </p>
        </body>
        </html>*@
