@{
    ViewBag.Title = "Confirm Email";
}

<body>
    <div class="container container-body2">
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        A confirmation e-mail has been sent to your e-mail address
    </p>
</div>
        </div>
    </body>
