@{
    ViewBag.Title = "About";
}
<body>
    <div class="container container-body2">
        <h3>About:</h3>
        <p>Toymania is a webshop that was founded in 2018.</p>
        <p>
            We aim to bring our customers the best variety of toys on the market. Toymania aims to include everyone, young and old!
            Toymania was founded to help facilitate family fun. After a couple months of development the webshop aired and allowed customers to purchase toys at a fair price!
            We want to include everyone and so, if you have any questions or feedback please let us know!
        </p>

    </div>
</body>
