@model Toymania.Models.ApplicationUser


@{
    ViewBag.Title = "Ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head runat="server">
    <title></title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @*<link href=""*@
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtDate').datepicker();
        });
    </script>
</head>
<body>
        <div class="container container-body2">
            <form id="form1" runat="server">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        Enddate ban:
                        <asp:TextBox ID="txtDate" runat="server"></asp:TextBox>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
                <script type="text/javascript">
                    var picker = new Pikaday(
                        {
                            field: document.getElementById('TextBox1'),
                            firstDay: 1,
                            minDate: new Date('2000-01-01'),
                            maxDate: new Date('2020-12-31'),
                            yearRange: [2000, 2020],
                            numberOfMonths: 3,
                            theme: 'dark-theme'
                        });
                </script>
            </form>
            </div>
    </body>
    </html>





