@model Toymania.Models.Coupon

@{
    //ViewBag.Title = "UB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <p></p>
    <p>@ViewBag.message</p>
    @using (@Html.BeginForm("UBP", "Coupon", FormMethod.Get))
    {

        @Html.TextBox("C") <input type="submit" value="Sumbit" />

    }
</body>


@*<h2>UB</h2>*@

